/Simple Tic-Tac-Toe/task/build/reports/tests/test/js/report.js
/Simple Tic-Tac-Toe/task/build/classes/java/test/TicTacToeField.class
/Simple Tic-Tac-Toe/Welcome to the battlefield_/task.html
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/Simple Tic-Tac-Toe/task/build/reports/tests/test/css/style.css
/gradlew
/.gradle/7.1/executionHistory/executionHistory.lock
/gradlew.bat
/Simple Tic-Tac-Toe/task/build/reports/tests/test/index.html
/Simple Tic-Tac-Toe/task/build/classes/java/main/tictactoe/Main.class
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_6898416167705193717_tmp
/build.gradle
/.gradle/7.1.1/fileChanges/last-build.bin
/.gradle/checksums/checksums.lock
/Simple Tic-Tac-Toe/The user is the gamemaster/task-remote-info.yaml
/Simple Tic-Tac-Toe/First move_/task-remote-info.yaml
/Simple Tic-Tac-Toe/task/build/tmp/compileTestJava/previous-compilation-data.bin
/Simple Tic-Tac-Toe/task/build/test-results/test/binary/results.bin
/course-info.yaml
/Simple Tic-Tac-Toe/task/build/reports/tests/test/classes/TicTacToeTest.html
/Simple Tic-Tac-Toe/task/build/test-results/test/binary/output.bin
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_3415211860677069446_tmp
/Simple Tic-Tac-Toe/What's up on the field/task-remote-info.yaml
/.gradle/7.1.1/gc.properties
/Simple Tic-Tac-Toe/task/build/tmp/compileJava/previous-compilation-data.bin
/Simple Tic-Tac-Toe/task/build/classes/java/test/TicTacToeTest.class
/.gradle/7.1.1/executionHistory/executionHistory.lock
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_13519588131825529973_tmp
/Simple Tic-Tac-Toe/Fight_/task.html
/Simple Tic-Tac-Toe/First move_/task-info.yaml
/.gradle/7.1.1/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/Simple Tic-Tac-Toe/The user is the gamemaster/task.html
/Simple Tic-Tac-Toe/First move_/task.html
/.gradle/7.1.1/fileHashes/resourceHashesCache.bin
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_16380954250043625110_tmp
/Simple Tic-Tac-Toe/The user is the gamemaster/task-info.yaml
/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_369858579618986756_tmp
/.gradle/7.1/fileChanges/last-build.bin
/gradle/wrapper/gradle-wrapper.properties
/Simple Tic-Tac-Toe/task/test/TicTacToeTest.java
/Simple Tic-Tac-Toe/What's up on the field/task.html
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_16806957186709586523_tmp
/Simple Tic-Tac-Toe/lesson-info.yaml
/.gradle/checksums/sha1-checksums.bin
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_11062090554640686426_tmp
/.gradle/7.1/gc.properties
/Simple Tic-Tac-Toe/task/build/test-results/test/TEST-TicTacToeTest.xml
/.gradle/7.1.1/executionHistory/executionHistory.bin
/Simple Tic-Tac-Toe/Fight_/task-info.yaml
/Simple Tic-Tac-Toe/task/build/classes/java/test/FieldState.class
/.gradle/7.1/fileHashes/fileHashes.lock
/Simple Tic-Tac-Toe/Fight_/task-remote-info.yaml
/Simple Tic-Tac-Toe/Welcome to the battlefield_/task-remote-info.yaml
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.bin
/Simple Tic-Tac-Toe/task/build/reports/tests/test/packages/default-package.html
/course-remote-info.yaml
/.gradle/7.1.1/dependencies-accessors/gc.properties
/Simple Tic-Tac-Toe/Welcome to the battlefield_/task-info.yaml
/settings.gradle
/Simple Tic-Tac-Toe/task/out/production/classes/tictactoe/Main.class
/Simple Tic-Tac-Toe/task/build/test-results/test/binary/output.bin.idx
/Simple Tic-Tac-Toe/What's up on the field/task-info.yaml
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_14346179367928369873_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_15946954191788810444_tmp
/.gradle/7.1/dependencies-accessors/gc.properties
/Simple Tic-Tac-Toe/task/build/reports/tests/test/css/base-style.css
/Simple Tic-Tac-Toe/task/out/production/classes/string/StringController.class
/Simple Tic-Tac-Toe/task/out/production/classes/string/StringScanner.class
/.idea/vcs.xml
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_737489418655615159_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_17884043274724524106_tmp
/Simple Tic-Tac-Toe/task/build/classes/java/main/string/StringController.class
/Simple Tic-Tac-Toe/task/build/classes/java/main/string/StringScanner.class
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_6414484857374521952_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_16934375000801658130_tmp
/Simple Tic-Tac-Toe/task/build/classes/java/main/string/StringSetter.class
/Simple Tic-Tac-Toe/task/out/production/classes/string/StringSetter.class
/.idea/uiDesigner.xml
/Simple Tic-Tac-Toe/The user is the gamemaster
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_831315544655608028_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_9090588270132550885_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_11698873585926342676_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_13818259578394724676_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_8213267270101888898_tmp
/Simple Tic-Tac-Toe/task/build/tmp/test/jar_extract_385569947083777188_tmp
/Simple Tic-Tac-Toe/task/out/production/classes/gameAnalyzer/ImpossibleState.class
/Simple Tic-Tac-Toe/task/out/production/classes/gameAnalyzer/StringAnalyzer.class
/Simple Tic-Tac-Toe/task/out/production/classes/gameAnalyzer/StringController.class
/Simple Tic-Tac-Toe/task/out/production/classes/gameAnalyzer/WinningState.class
